<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.booking.book.vo.BookVO" alias="book"/>
		<typeAlias type="com.booking.admin.book.vo.BookStockVO" alias="bookStock"/>
		<typeAlias type="com.booking.admin.book.vo.BookReleaseVO" alias="bookRelease"/>
		<typeAlias type="com.booking.book.vo.CategoryVO" alias="category"/>
		<typeAlias type="com.booking.book.vo.Purchase_DeliveryVO" alias="delivery" />
		
		<typeAlias type="com.booking.admin.sitelog.vo.SiteLogVO" alias="siteLog"/>
		<typeAlias type="com.booking.tagging.vo.TaggingVO" alias="tagging"/>
		<typeAlias type="com.booking.member.vo.MemberVO" alias="member" />
		
		<typeAlias type="com.booking.search.vo.SearchVO" alias="search" />
		<typeAlias type="com.booking.cart.vo.CartVO" alias="cart" />
		<typeAlias type="com.booking.wish.vo.WishVO" alias="wish" />
		<typeAlias type="com.booking.purchase.vo.PurchaseVO" alias="purchase" />
		
		<typeAlias type="com.booking.board.vo.BoardVO" alias="board" />
		<typeAlias type="com.booking.reply.vo.ReplyVO" alias="reply" />
	
	</typeAliases>
</configuration>